* {
	box-sizing:border-box;
	padding: 0;
	margin: 0;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: #1C1B19;
}

nav {
	position: absolute;
	top: 49px;
	right: 100px;
	display: flex;
	gap: 30px;
	width: 242px;
	height: 26px;
	
}
.search_bar {
	background-color: #E6E6E6;
	width: 184px;
	height: 26px;
	border-radius: 18.5px;
}
.search_icon {
	background-color: #E6E6E6;
	width:26px;
	height:26px;
	border-radius: 26px;
}

.wife {
	padding-top: 28vh;
	padding-left: 25vw;
	height: 30vh;
	width: 50vw;
	font-size: 5vw;
	line-height: 4vw;
	color: #33B8FF;
	text-wrap-mode: wrap;
}

button {
	background-color: inherit;
	color: #FFFFFF;
	position: relative;
	margin-top: 260px;
	margin-left: 33vw;
	width: 17vw;
	height: 9vh;
	font-size: 2vw;
	border: 4px solid #33B8FF;
	border-radius: 34px;
}


.container {
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 166px;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50vw;
    height: fit-content;
    border-style: solid;
    border-radius: 30px;
    border-color: darkblue;
    background-color: white;
}

.jobPostContainer {
    display: flex;
    flex-direction:row;
    gap:0;
}

.jobPost {
    flex: 1 1 0; 
}

.join_our_team {
    color: white;
    font: 5vw Montserrat, Monospace;
}

#our_team {
    color: #33b8ff;
}

.apply_container {
    margin-top:150px;
    margin-left: 25vw;
    width: 50vw;
    height: 500vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.small_line {
    color: white;
    font-size:20px;
}

.career-button {
	display:flex;
	align-items: center;
	gap: 5px;
	justify-content: center;
	background-color: #33b8ff;
	color: white;
	position: relative;
	margin-top: 40px;
	margin-left: 0px;
	width: 100px;
	height: 20px;
	font-size: 18px;
	border: 4px solid #33B8FF;
	border-radius: 34px;
    
}

.icon {
	background-color: #E6E6E6;
	width:18px;
	height:18px;
	border-radius: 18px;

}

.open_position {
    font: 5vh Montserrat, Monospace;
    font-weight:bold;
    margin-top:30px;
}

select {
    width: 150px;
    height: 25px;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 5px;
}


.filter_container {
    display: flex;
    flex-direction:column;
    gap: 10px;
}

#salary {
    width: 80px;
    
}

.inner_flexbox {
    width: 100%;
    display:flex;
    margin-top: 20px;
    justify-content:space-between;
    padding-right:60px;
}

#jobPostList {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    padding-top: 82px;
    padding-right: 60px;
}

.jobCard {
    border-radius: 20px;
    background-color: #D9D9D9;
    width: 100%;
    padding-left: 30px;
    padding-top: 36px;
    padding-bottom: 34px;
}

li {
    list-style: none;
}

.jobCard > h2 {
    font-size: xxx-large;
}
